@import '@/styles/_variables.scss';
@import '@/styles/_mixins.scss';

.navbar {
  @include fade-in(0.8s);
  position: fixed;
  top: 0;
  width: 100%;
  transition: all 0.7s;
  z-index: 20;

  &.open {
    padding: $spacing-3;
  }

  &.close {
    background-color: rgba($zinc-900, 0.8);
    backdrop-filter: blur(4px);
  }

  &.scroll {
    .nav {
      padding-block: $spacing-2;
    }

    .logo {
      > div {
        font-size: $font-size-4xl;
      }
    }

    @include media-query('sm', 'up') {
      .nav {
        padding-block: $spacing-3;
      }
    }
  }
}

.nav {
  @include fade-in(0.3s);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: $spacing-6;
  transition: padding 0.7s;

  @include media-query('md', 'up') {
    padding-block: $spacing-7;
  }
}

.logo {
  > div {
    transition: font-size 0.7s;
  }
}

.hamburger {
  @include fade-in(0.6s);
  margin-right: -$spacing-3;

  @include media-query('md', 'up') {
    display: none;
  }
}

.menu {
  @include fade-in(0.6s);
  display: none;

  ul {
    display: flex;
    gap: $spacing-8;
  }

  @include media-query('md', 'up') {
    display: block;
  }
}
