@import '@/styles/_variables.scss';
@import '@/styles/_mixins.scss';

.header {
  text-align: center;
}

.list {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 1.75rem;
  margin-top: 3.5rem;
  color: $zinc-600;
  list-style: none;

  svg {
    width: 5rem;
    height: 4rem;
    margin: auto;
    transition: color 0.5s cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
      color: $zinc-900;
    }
  }

  @include media-query('sm', 'up') {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }

  @include media-query('md', 'up') {
    gap: 4rem;
    margin-top: 5rem;

    svg {
      width: 6rem;
      height: 5rem;
    }
  }
}
