@import '_variables.scss';

@mixin media-query($query, $direction: 'up') {
  @each $breakpoint in $breakpoints {
    $name: nth($breakpoint, 1);
    $width: nth($breakpoint, 2);

    @if $query == $name and $width {
      @if $direction == 'up' {
        @media screen and (min-width: #{$width}) {
          @content;
        }
      } @else if $direction == 'down' {
        @media screen and (max-width: #{$width}) {
          @content;
        }
      }
    }
  }
}

@mixin fade-in($delay: 0s, $duration: 1.2s) {
  opacity: 0;
  visibility: hidden;
  animation: fadeIn $duration ease-in $delay forwards;

  @keyframes fadeIn {
    to {
      opacity: 1;
      visibility: visible;
    }
  }
}
