$breakpoints: ('sm' 640px, 'md' 768px, 'lg' 1024px, 'xl' 1280px, '2xl' 1536px);

$font-sans: var(--font-dm-sans);
$font-serif: var(--font-libre);

$font-size-xs: 0.75rem; // 12px
$font-size-sm: 0.875rem; // 14px
$font-size-md: 1rem; // 16px
$font-size-lg: 1.125rem; // 18px
$font-size-xl: 1.25rem; // 20px
$font-size-2xl: 1.5rem; // 24px
$font-size-3xl: 1.75rem; // 28px
$font-size-4xl: 2rem; // 32px
$font-size-5xl: 2.25rem; // 36px
$font-size-6xl: 3rem; // 48px

$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

$line-height-none: 1;
$line-height-xs: 1.25;
$line-height-sm: 1.375;
$line-height-md: 1.5;
$line-height-lg: 1.725;
$line-height-xl: 2;

$radius-md: 6px;

$white: #fff;
$zinc-50: #fafafa;
$zinc-100: #f4f4f5;
$zinc-200: #e4e4e7;
$zinc-300: #d4d4d8;
$zinc-400: #a1a1aa;
$zinc-500: #71717a;
$zinc-600: #52525b;
$zinc-700: #3f3f46;
$zinc-800: #27272a;
$zinc-900: #18181b;

$spacing-1: 0.125rem; // 2px
$spacing-2: 0.25rem; // 4px
$spacing-3: 0.5rem; // 8px
$spacing-4: 0.75rem; // 12px
$spacing-5: 1rem; // 16px
$spacing-6: 1.5rem; // 24px
$spacing-7: 2rem; // 32px
$spacing-8: 2.5rem; // 40px
$spacing-9: 3rem; // 48px
$spacing-10: 4rem; // 64px
$spacing-11: 5rem; // 80px
$spacing-12: 6rem; // 96px
$spacing-13: 10rem; // 160px
