@import '@/styles/_variables.scss';
@import '@/styles/_mixins.scss';
@import '@/styles/_section.scss';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/*
  1. Default: will be removed in Forced Color Modes
  2. Fallback: will be visible with custom system colors in Forced Color Modes
*/
:focus-visible {
  box-shadow: 0 0 0 1px $zinc-100; // [1]
  outline: 1px solid transparent; // [2]
}

::selection {
  color: $zinc-100;
  background-color: $zinc-700;
}

body {
  color: $zinc-400;
  background-color: $zinc-900;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
input,
button,
textarea {
  font-family: $font-sans;
  font-weight: $font-weight-regular;
  font-size: $font-size-md;
  line-height: $line-height-md;
}

a {
  color: inherit;
  text-decoration: none;
}
