.section {
  padding-block: 5rem;

  @include media-query('md', 'up') {
    padding-block: 7rem;
  }

  &--light {
    color: $zinc-600;
    background-color: $zinc-100;
  }

  &--dark {
    color: $zinc-400;
    background-color: $zinc-900;
  }

  &--no-padding {
    padding: 0;
  }
}
