@import '@/styles/_mixins.scss';
@import '@/styles/_variables.scss';

.card {
  border-radius: $radius-md;
  padding: 10% 10% 0;
  background-color: $zinc-800;

  h2 {
    margin-bottom: $spacing-5;
    font-size: $font-size-2xl;
    font-weight: $font-weight-bold;
    line-height: $line-height-sm;
    color: $white;
  }

  @include media-query('md', 'up') {
    margin-top: 8%;

    h2 {
      margin-bottom: $spacing-6;
    }

    &:hover {
      .content {
        max-height: 50rem;
        opacity: 1;
        visibility: visible;
      }

      .image {
        margin-top: $spacing-8;
      }
    }
  }
}

.content {
  p {
    font-size: $font-size-sm;

    &:first-child {
      margin-bottom: $spacing-6;
      line-height: $line-height-lg;
      color: rgba($white, 0.6);
    }
  }

  a {
    display: inline-flex;
    align-items: center;
    gap: $spacing-3;
    border-bottom: $spacing-1 solid rgba($white, 0.2);
    color: rgba($white, 0.6);
    transition: border-color 0.3s, color 0.3s;

    &:hover {
      color: $white;
      border-color: rgba($white, 0.4);
    }
  }

  @include media-query('md', 'up') {
    max-height: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 1.5s cubic-bezier(0.65, 0, 0.35, 1);
  }
}

.image {
  border-radius: $radius-md $radius-md 0 0;
  border: $spacing-3 solid rgba($white, 0.1);
  border-bottom: 0;
  margin-top: $spacing-8;
  overflow: hidden;

  img {
    display: block;
    width: 100%;
    height: auto;
  }

  @include media-query('md', 'up') {
    margin-top: 0;
    transition: margin 1.5s cubic-bezier(0.65, 0, 0.35, 1);
  }
}
