@import '@/styles/_mixins.scss';
@import '@/styles/_variables.scss';

.heading {
  margin-bottom: $spacing-9;
  font-family: $font-serif;
  font-size: $font-size-5xl;
  font-weight: $font-weight-bold;
  line-height: $line-height-none;
  color: $zinc-100;

  @include media-query('sm', 'up') {
    font-size: $font-size-6xl;
  }

  @include media-query('md', 'up') {
    margin-bottom: $spacing-11;
  }
}

.subheading {
  margin-bottom: $spacing-4;
  font-size: $font-size-xs;
  line-height: $line-height-sm;
  font-weight: $font-weight-medium;
  text-transform: uppercase;
}
