@import '@/styles/_variables.scss';
@import '@/styles/_mixins.scss';

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40rem;
  text-align: center;

  @include media-query('md', 'up') {
    height: 100vh;
  }
}

.heading {
  margin-bottom: $spacing-6;
  font-family: $font-serif;
  font-size: $font-size-2xl;
  color: $zinc-100;

  @include media-query('sm', 'up') {
    margin-bottom: $spacing-7;
    font-size: $font-size-5xl;
  }

  @include media-query('md', 'up') {
    margin-top: $spacing-7;
    font-size: $font-size-6xl;
  }
}

.subheading {
  margin-bottom: $spacing-7;
  font-size: $font-size-xl;
  line-height: $line-height-xs;

  @include media-query('sm', 'up') {
    font-size: $font-size-3xl;
  }

  @include media-query('md', 'up') {
    margin-bottom: $spacing-8;
    font-size: $font-size-5xl;
  }
}
