@import '@/styles/_variables.scss';
@import '@/styles/_mixins.scss';

.masthead {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40rem;
  text-align: center;

  h1 {
    margin-bottom: $spacing-6;
    font-family: $font-serif;
    font-size: $font-size-2xl;
    line-height: $line-height-md;
    color: $zinc-100;
  }

  p {
    font-size: $font-size-xl;
    line-height: $line-height-xs;
  }

  a {
    display: inline-block;
    margin-top: $spacing-7;
  }

  @include media-query('sm', 'up') {
    h1 {
      margin-bottom: $spacing-7;
      font-size: $font-size-5xl;
    }

    p {
      font-size: $font-size-3xl;
    }
  }

  @include media-query('md', 'up') {
    height: 100vh;

    h1 {
      margin-top: $spacing-7;
      font-size: $font-size-6xl;
    }

    p {
      font-size: $font-size-5xl;
    }

    a {
      margin-top: $spacing-8;
    }
  }
}
