@import '@/styles/_variables.scss';
@import '@/styles/_mixins.scss';

.container {
  @include fade-in(1.5s);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;

  a {
    display: inline-block;
    width: $spacing-6;
  }
}

.text {
  position: relative;
  display: block;
  margin-bottom: $spacing-3;
  transform: rotate(-90deg);
  left: -$spacing-1;
}

.pipe {
  display: block;
  width: $spacing-1;
  height: $spacing-6;
  margin: auto;
  background-color: $zinc-100;
}
