@import '@/styles/_variables.scss';
@import '@/styles/_mixins.scss';

.sidebar {
  position: fixed;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  text-align: center;
  backdrop-filter: blur(4px);
  background-color: rgba($zinc-900, 0.95);

  // Menu
  ul {
    display: flex;
    flex-direction: column;
    gap: $spacing-5;
    font-size: $font-size-5xl;
    font-weight: $font-weight-bold;
    line-height: $line-height-xs;
    list-style: none;
  }

  @include media-query('md', 'up') {
    display: none;
  }
}
