@import '@/styles/_variables.scss';
@import '@/styles/_mixins.scss';

.copy {
  text-align: center;

  p {
    margin-bottom: $spacing-6;
  }

  a {
    border-bottom: 2px solid rgba($zinc-100, 0.1);
    transition: border-color 0.3s;

    &:hover {
      border-color: rgba($zinc-100, 0.3);
    }
  }

  @include media-query('sm', 'up') {
    p {
      font-size: $font-size-lg;
    }
  }
}

.intro {
  font-size: $font-size-lg;
  font-weight: $font-weight-bold;
  line-height: $line-height-sm;
  color: $zinc-300;

  @include media-query('sm', 'up') {
    font-size: $font-size-xl;
    line-height: $line-height-md;
  }
}

.links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: $spacing-5;
  row-gap: $spacing-3;
  margin-top: $spacing-8;

  a {
    display: inline-flex;
    align-items: center;
    gap: $spacing-2;
    font-size: $font-size-md;
    color: $zinc-300;
  }

  @include media-query('sm', 'up') {
    column-gap: $spacing-7;
    font-size: $font-size-lg;

    a {
      gap: $spacing-3;
      font-size: $font-size-lg;
    }
  }
}
