@import '@/styles/_variables.scss';
@import '@/styles/_mixins.scss';

.link {
  transition: color 0.3s;

  &:hover {
    color: $zinc-100;
  }

  &--border {
    border: 2px solid rgba($zinc-100, 0.2);
    border-radius: $radius-md;
    padding: $spacing-3 $spacing-6;
    font-size: $font-size-sm;
    font-weight: $font-weight-bold;
    line-height: $line-height-md;
    color: $zinc-300;
    transition: color 0.3s, border-color 0.3s, background-color 0.3s;

    &:hover {
      border-color: $zinc-100;
      color: $zinc-900;
      background-color: $zinc-100;
    }

    @include media-query('sm', 'up') {
      padding-inline: $spacing-6;
      font-size: $font-size-md;
    }
  }
}
